:root{
    --background-color:#1f1f1f;
    --nav-color:#202020;
    --primary-color:#64ddff;
  }
  
  *{
    margin: 0;
    padding: 0;
    color: white;
    font-family: Roboto;
  }
  
  body{
    background-color:var(--background-color);
    width: 100vw;
    overflow-x: hidden;
  }

  a{
    text-decoration: none;
    color: white;
  }

  ul{
    list-style: none;
  }

  .blur{
    filter: blur(2px);
    transition: 0.5s;
  }

  .test{
    margin: 100px;
  }

  .call-container{
    margin: 30px 10vw;
  }
